# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Compilación
dist/
build/

# Archivos de lock
package-lock.json



# Sistema operativo y temporales
.DS_Store
Thumbs.db
*.tmp
*.swp
.temp
/.nyc_output
/coverage
pids
*.pid
*.pid.lock
*.seed

# IDEs / editores
.vscode/
.idea/
.project
.classpath
*.launch
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace
.c9/

# Logs
logs/
*.log
lerna-debug.log*

# Documentación generada automáticamente
documentation/
documentation/generated/

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
